{% set flash_messages = app.session.get('flash_messages') %}

{% if flash_messages is not empty %}
<div class="container-xl">

    {% for message in flash_messages %}
        <div class="alert {{ message.type.class }} alert-dismissible" role="alert">
            <div class="alert-icon">{{ ux_icon(message.type.icon, {'class': 'icon alert-icon icon-2'}) }}</div>
            {{ message.content }}
            <a class="btn-close" data-bs-dismiss="alert" aria-label="close"></a>
        </div>
    {% endfor %}

</div>

{% set foo = app.session.remove('flash_messages') %}
{% endif %}
