includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon
    - vendor/phpstan/phpstan-webmozart-assert/extension.neon

parameters:
    level: 8
    paths:
        - public/index.php
        - src
        - tests
