{% extends 'layout.html.twig' %}

{% block page_content %}

    <div class="container-xl">

        <form action="{{ path('image_generator') }}" method="post">

            <div class="row row-deck row-cards">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="input-group mb-2">
                                <input required name="prompt" type="text" class="form-control" placeholder="Was gibt's ... ?" />
                                <button class="btn btn-outline-secondary border-0" type="submit">Sach an!</button>
                            </div>
                        </div>
                    </div>
                </div>

            {% for image in images %}
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Generated Image</h3>
                        </div>
                        <div class="card-body">
                            <div class="img-responsive img-responsive-1x1 rounded border" style="background-image: url({{ image.imageUrl }})"></div>
                        </div>
                    </div>
                </div>
            {% endfor %}

            </div>

        </form>

    </div>

{% endblock %}
