{% extends 'layout.html.twig' %}

{% block page_title %}Einstellungen - Kalender - Wochentage{% endblock %}

{% block page_content %}

<div class="container-xl">
    <div class="card">
        <div class="row g-0">
            {% include 'settings/_includes/settings_nav.html.twig' %}
            <div class="col-12 col-md-9 d-flex flex-column">
                <div class="card-body">

                {{ component('SettingsWeekForm', {form: form, weekdays: weekdays}) }}

                </div>
            </div>
        </div>
        <div class="card-footer mt-auto">
            <div class="d-flex">
                <div class="ms-auto align-items-end">
                    <div class="btn-group">
                        <a href="{{ path('settings_calendar_overview') }}" class="btn btn-outline-secondary">{{ ux_icon('tabler:cancel') }}Abbrechen</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
