@charset "utf-8";

div.chatbot-message img, .markdown img {
    max-width: 200px;
    max-height: 200px;
}

div.search-loading {
    animation: placeholder-glow 2s ease-in-out infinite;
    cursor: wait;
}

div.search-loading input {
    pointer-events:none;
    cursor: wait;
}

div.search-loading button {
    pointer-events:none;
    cursor: wait;
}

@media (min-width: 576px) {
    div.chatbot-message img, .markdown img {
        max-width: 200px;
        max-height: 200px;
    }
}

@media (min-width: 768px) {
    div.chatbot-message img, .markdown img {
        max-width: 300px;
        max-height: 300px;
    }
}

@media (min-width: 992px) {
    div.chatbot-message img, .markdown img {
        max-width: 400px;
        max-height: 400px;
    }
}
