{% extends 'layout.html.twig' %}

{% block page_title %}Live-Chat UNDER DEVELOPMENT!{% endblock %}

{% block page_title_actions %}
    <div class="col-auto ms-auto d-print-none">
        <div class="btn-list">
            <a type="button" class="btn d-none d-sm-inline-block" data-bs-toggle="modal" data-bs-target="#store-conversation-modal">
                {{ ux_icon('tabler:device-floppy') }}Speichern
            </a>
        </div>
    </div>
{% endblock %}

{% block page_content %}
    <div class="container-xl">
        <twig:Chat:Chat />
    </div>

    {% component "Tabler:Modal" with {id: 'store-conversation-modal'} %}
        {% block modal_full_content %}
            <twig:Chat:StoreConversation />
        {% endblock %}
    {% endcomponent %}
{% endblock %}
