<div class="container-xl" {{ attributes }}>
    {% for message in this.notifications %}
        <div class="alert {{ message.type.class }} alert-dismissible" role="alert">
            <div class="alert-icon">{{ ux_icon(message.type.icon, {'class': 'icon alert-icon icon-2'}) }}</div>
            {{ message.content }}
            <a class="btn-close" data-bs-dismiss="alert" aria-label="close"></a>
        </div>
    {% endfor %}
</div>
