<!doctype html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <title>Novalis Chatbot</title>

    <script src="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta20/dist/js/tabler.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta20/dist/css/tabler.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta20/dist/css/tabler-vendors.min.css">

    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}

</head>
<body data-bs-theme="dark">
<twig:loader></twig:loader>

<div class="page">

    <header class="navbar navbar-expand-md navbar-dark d-print-none">
        {% embed '_includes/navbar.html.twig' %}{% endembed %}
    </header>

    <div class="page-wrapper">
        <div class="page-header d-print-none">
            <div class="container-xl">
                <div class="row g-2 align-items-center">
                    <div class="col">
                        <div class="page-pretitle">Novalis Documents</div>
                        <h2 class="page-title">{% block page_title %}{% endblock %}</h2>
                    </div>

                    {% block page_title_actions %}{% endblock %}
                </div>
            </div>
        </div>

        <div class="page-body">
            {% block alerts %}{% embed '_includes/alerts.html.twig' %}{% endembed %}{% endblock %}
            {% block page_content %}{% endblock %}
        </div>
    </div>

    <!-- Footer -->
    <footer class="footer footer-transparent d-print-none">
        <div class="container-xl">
            <div class="row text-center align-items-center flex-row-reverse">
                <div class="col-lg-auto ms-lg-auto">
                    <ul class="list-inline list-inline-dots mb-0">
                        <li class="list-inline-item"><a href="https://github.com/DZunke/NovDoc" target="_blank"
                                                        class="link-secondary" rel="noopener">Source code</a></li>
                    </ul>
                </div>
                <div class="col-12 col-lg-auto mt-3 mt-lg-0">
                    <ul class="list-inline list-inline-dots mb-0">
                        <li class="list-inline-item">
                            NovDoc - Made by <a href="https://github.com/DZunke" title="Denis Zunke Github Profile">Denis
                                Zunke</a> with <span class="text-red">❤</span> in Nikolassee
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>

<!-- Footer was outside in the beginning of this template ... was also fine :) -->

</body>
</html>
