<div id="markdown_{{ random() }}" {{ stimulus_controller('markdownEditor') }}>
    <textarea name="{{ name }}" class="editor-content" style="display: none;">{{ content }}</textarea>
    <div class="editor"></div>
</div>
