{% extends 'layout.html.twig' %}

{% block page_title %}Neues Bild{% endblock %}

{% block page_content %}
    <div class="container-xl">
        <div class="row row-deck row-cards">
            <div class="col-sm-12">
                <div class="card">
                    <form action="{{ path('library_image_upload', {'directory': directory.id }) }}" method="post" enctype="multipart/form-data">
                        <div class="card-body">
                            <div class="row g-5">
                                <div class="col-12">
                                    {{ form_row(form.image) }}
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-end">
                            <div class="d-flex">
                                <a href="{{ path('library', {'directory': directory.id }) }}" class="btn btn-link">Abbruch</a>
                                <button type="submit" class="btn btn-primary ms-auto">Speichern</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
